{% extends 'header.html' %}
{% block content %}
{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    </head>
    <body>
	
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Book Appointment</h2>
							<ul class="bread-list">
								<li><a href="/">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Book Appointment</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
				
		<!-- Start Book Appointment -->
		<section class="contact-us section">
			<div class="container">
				<div class="inner">
					<div class="row"> 
						<div class="col-lg-12">
							<div class="contact-us-form">
								<h2>Book Appointment</h2>
								{% if msg %}
									<b style="color:blue;">{{msg}}</b>
								{% endif %}
								<!-- Form -->
								<form class="form" method="post" action="{% url 'book-appointment' pk=doctor_profile.pk %}" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="row">
										<!-- <div class="col-lg-6">
											<div class="form-group">
												<select name="usertype">
													<option>---Select User Type---</option>
													<option value="patient">Patient</option>
													<option value="doctor">Doctor</option>
												</select>
											</div>
										</div>
										 -->

										<h3>Appointment Details</h3>
										<br>
										<div class="col-lg-12">
											<div class="form-group">
												<input type="date" name="appointment_date" id="date_picker" onchange="this.form.submit();" value="{{appointment_date}}">
											</div>
										</div>

										<div class="col-lg-12">
											<div class="form-group">
												<select name="appointment_time">
													<option>---Select Time Slot---</option>
														{% if "9:00 AM To 10:00 AM" in l %}
															<option value="9:00 AM To 10:00 AM" disabled>9:00 AM To 10:00 AM</option>
														{% else %}
															<option value="9:00 AM To 10:00 AM">9:00 AM To 10:00 AM</option>
														{% endif %}
														{% if "10:00 AM To 11:00 AM" in l %}
															<option value="10:00 AM To 11:00 AM" disabled>10:00 AM To 11:00 AM</option>
														{% else %}
															<option value="10:00 AM To 11:00 AM">10:00 AM To 11:00 AM</option>
														{% endif %}
														{% if "11:00 AM To 12:00 PM" in l %}
															<option value="11:00 AM To 12:00 PM" disabled>11:00 AM To 12:00 PM</option>
														{% else %}
															<option value="11:00 AM To 12:00 PM">11:00 AM To 12:00 PM</option>
														{% endif %}
														{% if "12:00 PM To 1:00 PM" in l %}
															<option value="12:00 PM To 1:00 PM" disabled>12:00 PM To 1:00 PM</option>
														{% else %}
															<option value="12:00 PM To 1:00 PM">12:00 PM To 1:00 PM</option>
														{% endif %}
														{% if "4:00 PM To 5:00 PM" in l %}
															<option value="4:00 PM To 5:00 PM" disabled>4:00 PM To 5:00 PM</option>
														{% else %}
															<option value="4:00 PM To 5:00 PM">4:00 PM To 5:00 PM</option>
														{% endif %}
														{% if "6:00 PM To 7:00 PM" in l %}
															<option value="6:00 PM To 7:00 PM" disabled>6:00 PM To 7:00 PM</option>
														{% else %}
															<option value="6:00 PM To 7:00 PM">6:00 PM To 7:00 PM</option>
														{% endif %}
														{% if "7:00 PM To 8:00 PM" in l %}
															<option value="7:00 PM To 8:00 PM" disabled>7:00 PM To 8:00 PM</option>
														{% else %}
															<option value="7:00 PM To 8:00 PM">7:00 PM To 8:00 PM</option>
														{% endif %}
														{% if "8:00 PM To 9:00 PM" in l %}
															<option value="8:00 PM To 9:00 PM" disabled>8:00 PM To 9:00 PM</option>
														{% else %}
															<option value="8:00 PM To 9:00 PM">8:00 PM To 9:00 PM</option>
														{% endif %}
												</select>
											</div>
										</div>
										
										
										<h3>Doctor Details</h3>
										<br>
										<div class="col-lg-12">
											<div class="form-group">
												<input type="text" placeholder="Dr. {{doctor_profile.doctor.fname}} {{doctor_profile.doctor.lname}}" readonly>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="form-group">
												<input type="text" placeholder="{{doctor_profile.specialization}}" readonly>
											</div>
										</div>

										<h3>Patient Details</h3>
										<br>
										<div class="col-lg-12">
											<div class="form-group">
												<input type="text" placeholder="{{patient.fname}} {{paient.lname}}" readonly>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="form-group">
												<input type="text" placeholder="Mobile : {{patient.mobile}}" readonly>
											</div>
										</div>
										
										
										<div class="col-12">
											<div class="form-group login-btn">
												<button class="btn" type="submit">Book Appointment</button>
											</div>
										</div>
									</div>
								</form>
								<!--/ End Form -->
							</div>
						</div>
					</div>
				</div>
				<div class="contact-info">
					<div class="row">
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont icofont-ui-call"></i>
								<div class="content">
									<h3>+(000) 1234 56789</h3>
									<p>info@company.com</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont-google-map"></i>
								<div class="content">
									<h3>2 Fir e Brigade Road</h3>
									<p>Chittagonj, Lakshmipur</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont icofont-wall-clock"></i>
								<div class="content">
									<h3>Mon - Sat: 8am - 5pm</h3>
									<p>Sunday Closed</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Sign Up -->
    </body>
    <script language="javascript">
	    var today = new Date();
	    var dd = String(today.getDate()+1).padStart(2, '0');
	    var mm = String(today.getMonth() + 1).padStart(2, '0');
	    var yyyy = today.getFullYear();

	    today = yyyy + '-' + mm + '-' + dd;
	    $('#date_picker').attr('min',today);
	</script>
</html>
{% endblock %}